<div class="Container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Arseniy Semenov</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/sum" class="nav-item nav-link">Ex 1</a>
        <a routerLink="/register" class="nav-item nav-link">Ex 2</a>
      </div>
    </div>
  </nav>

  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
